<p><i>Disclaimer: Some rounding has occurred when presenting the values</i></p>
<section class="elo">
  <div class="elo__players">
    <div *ngFor="let player of players">
      <b>{{ player.name }}</b> ({{ player.rating | number:'1.0-0':'nb' }} ELO - {{ player.matches }} matches / {{ player.wins }} wins)<br><br>
    </div>
  </div>
  <div class="elo__history">
    <select [formControl]="history">
      <option value="">Vis historikk for...</option>
      <option *ngFor="let player of players" [value]="player.name">{{ player.name }}</option>            
    </select>
    <ul *ngIf="playerHistory" class="elo__list">
      <li *ngFor="let history of playerHistory"><span class="elo__historic-rating" [ngClass]="{'elo__historic-rating--won': history.won}">{{ history.rating | number:'1.0-0':'nb' }}</span> (Win probability: {{ (history.probability * 100) | number:'1.2-2':'nb' }} %) (Diff: {{ history.diff | number:'1.0-0':'nb' }})</li>
    </ul>
  </div>
</section>